@model models.Produtos

@{
    ViewData["Title"] = "Create";
}

<h1>Adicione um produto</h1>

<hr />
<div class="card col-3 cd" style="width: 22rem;" align="center">
    <img src="~/img/air-jordan-1-5-official-images-1.png" class="card-img-top" alt="Alternate Text" />
    <form asp-action="Create">
        <div class="card-body">
            <p class="card-title">

            <p>Adicione o nome do produto: </p>
            <input asp-for="nomeProduto" class="form-control" />
            </p>
            <p>
            <p>Adicione o valor do produto</p>
            <input asp-for="valorProduto" class="form-control" />

            </p>
            <p>Adicione a quantidade de produtos disponiveis: </p>
            <input asp-for="quantidadeProduto" class="form-control" />

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
